*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: sansa;
}
body{
    background: #577B8D;
}
.upper_nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #2a4b5c;
}
.website_name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    margin-right: 66%;
    margin-top: 1.2%;
    color: #948979;
}
.lower_nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #3C5B6F;
}
.low_left button,.low_right button,.up_right button{
    border-radius: 10PX;
    font-size: larger;
    height: 50px;
    width: 100px;
    color: #DFD0B8;
    border-color: transparent;
    background-color: #3C5B6F;
}
.low_right{
    margin-right: 1%;
}
.up_right{
    margin-top: 0.7%;
    margin-right: 1%;
}

#games{

}
.up_right button:hover{
    animation-name: dhak;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
@keyframes dhak{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes donation {
    0%{
        background-color: aliceblue;
        color: black;
    }
    50%{
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdB-qBRxzuUlHEUf5QMGbsR15g18p15K_ynf-BrQpBEQ&s");
        color: transparent;
    }
    100%{
        background-color: aliceblue;
        color: black;
    }
}
.news{
    display: flex;
    margin: 2%;
    justify-content: left;
    color: #DFD0B8;
    background-color: #3C5B6F;
}
.reviews,.comparisons,.new_arrivals{
    margin: 3%;
    color: #DFD0B8;
    background-color: #577B8D;
}
.news img,.news h2,.news p{
    margin: 2%;
}
.flip-card {
    background-color: #948979;
    overflow: hidden;
    width: 300px;
    height: 200px;
    border: 1px solid #3C5B6F;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: #577B8D;
    color: #DFD0B8;
    transform: rotateY(180deg);
}
.mid_area2{
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #948979;
    justify-content: space-around;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}
.wrapper i {
    height: 50px;
    width: 50px;
    background: #DFD0B8;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.wrapper i:first-child {
    left: -34px;
}
.wrapper i:last-child {
    right: -22px;
}
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.no-transition {
    scroll-behavior: auto;
}
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}
.carousel .card {
    scroll-snap-align: start;
    height: 340px;
    list-style: none;
    background: #3C5B6F;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 98%;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}
@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}
.about_us{
    margin: 3%;
    color: #DFD0B8;
    background-color: #577B8D;

}
.abt{
    display: flex;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    margin: 2%;
    font-size: x-large;
    margin-left: 5%;
    margin-top: -20px;
    margin-right: 25%;
    justify-content: left;
    color: #DFD0B8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #3C5B6F;
    margin-bottom: 5%;
}
.side_logo{
    margin-left: 76%;
    padding-bottom: 0%;
    margin-top: -380px;
}
.footer {
    position: relative;
    margin-top: 20%;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}
